
<nav class="navbar navbar-default navbar-fixed-top thin">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="@Url.Action("Index", "Home")"><img src="~/assets/images/logo.png"></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden active">
                    <a href="#"></a>
                </li>
                <li>
                    <a class="" href="@Url.Action("TestLibrary","Home")">Test Library</a>
                </li>
                <li>
                    <a class="" href="@Url.Action("Index","Home")#block1">Features</a>
                </li>
                <li>
                    <a class="" href="@Url.Action("Index","Home")#block3">Pricing</a>
                </li>

                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </div>
</nav>
