@model SoftwareGrid.Model.iTestApp.ViewModels.DashboardSummaryViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/admin/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 blue" href="@Url.Action("TestList","Admin")">
            <div class="visual">
                <i class="fa fa-comments"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="@Model.TestCount">@Model.TestCount</span>
                </div>
                <div class="desc"> Total Test </div>
            </div>
        </a>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 red" href="@Url.Action("Question","Admin")">
            <div class="visual">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="@Model.QuestionCount">@Model.QuestionCount</span>
                </div>
                <div class="desc"> Total Question </div>
            </div>
        </a>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 green" href="#">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="0">0</span>
                </div>
                <div class="desc"> New Orders </div>
            </div>
        </a>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 purple" href="#">
            <div class="visual">
                <i class="fa fa-globe"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="@Model.TestTaken">@Model.TestTaken</span>
                </div>
                <div class="desc"> Test Taken </div>
            </div>
        </a>
    </div>
</div>

