@using SoftwareGrid.Model.iTestApp.Utility
@model SoftwareGrid.Model.iTestApp.UserManagement.User
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/admin/_LayoutAdmin.cshtml";
    var summaryInfo = ViewBag.Summary as SoftwareGrid.Model.iTestApp.ViewModels.DashboardSummaryViewModel;
}
<link href="~/assets/frontend/css/user-profile.css" rel="stylesheet" />

<div class="page-content-inner">
    <div class="profile">
        <div class="tabbable-line tabbable-full-width">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab_1_1" data-toggle="tab"> Overview </a>
                </li>
                <li>
                    <a href="#tab_1_3" data-toggle="tab"> Account </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1_1">
                    <div class="row">
                        <div class="col-md-3">
                            <ul class="list-unstyled profile-nav">
                                <li>
                                    <img id="ProfileImage" src="@Url.Action("ShowImage","Home",new {globalId=Model.GlobalId,documentName=Model.PhotoFileName,type=2})" class="img-responsive pic-bordered" alt="" />
                                    <a href="javascript:;" class="profile-edit change-image"> Change Photo </a>
                                    <input type="file" id="image-upload" name="image-upload" accept="image/*" style="display: none" />
                                    <input type="hidden" id="UserId" name="UserId" value="@Model.UserId" />
                                </li>
                                
                                @if (summaryInfo != null)
                                {
                                    <li>
                                        <a href="javascript:;"> No of Test (@summaryInfo.TestCount) </a>
                                    </li>
                                <li>
                                    <a href="javascript:;"> No of Question (@summaryInfo.QuestionCount) </a>
                                </li>
                                }
                            </ul>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-8 profile-info">

                                    @{
                                        var userType = string.Empty;
                                        if (Model.UserType == (int)AppUsers.User)
                                        {
                                            userType = "Public User";
                                        }
                                        if (Model.UserType == (int)AppUsers.Author)
                                        {
                                            userType = "Author";
                                        }
                                        if (Model.UserType == (int)AppUsers.Admin)
                                        {
                                            userType = "Administrator";
                                        }
                                    }


                                    <h1 class="font-green sbold uppercase">
                                        @Model.FirstName @Model.LastName  <span class="label label-danger label-sm">

                                            @userType
                                        </span>
                                    </h1>
                                    <p>
                                        Email : @Model.Email



                                    </p>
                                    <p>
                                        Mobile : @Model.MobileNo
                                    </p>

                                </div>


                            </div>



                            <div class="tabbable-line tabbable-custom-profile">
                                
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#tab_1_11" data-toggle="tab"> Taken Test (<span id="TotalCount"></span>)</a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1_11">
                                        <div class="portlet-body">
                                            <div class="row">
                                                <input type="hidden" name="ShowPerPageItem" id="ShowPerPageItem" value="15" />
                                                <div class="table-responsive" id="div-test"></div>
                                                <div class="paging-content"></div>
                                            </div>
                                            <div class="row" style="display: none" id="no-data-content">
                                                <div class="col-md-12">
                                                    <h3 style="margin-top: -15px">No Data found.</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="tab-pane" id="tab_1_3">
                    <div class="row profile-account">
                        <div class="col-md-3">
                            <ul class="ver-inline-menu tabbable margin-bottom-10">
                                <li class="active">
                                    <a data-toggle="tab" href="#tab_1-1">
                                        <i class="fa fa-cog"></i> Personal info
                                    </a>
                                    <span class="after"> </span>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab_3-3">
                                        <i class="fa fa-lock"></i> Change Password
                                    </a>
                                </li>
                               
                            </ul>
                        </div>
                        <div class="col-md-9">
                            <div class="tab-content">
                                <div id="tab_1-1" class="tab-pane active">
                                    <div class="col-md-6">
                                        <form action="javascript:;" id="frmUserProfile" name="frmUserProfile">
                                            <div class="form-group">
                                                <label class="control-label">First Name</label>
                                                <input type="text" placeholder="First Name" class="form-control" value="@Model.FirstName" maxlength="60" id="FirstName" name="FirstName" />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Last Name</label>
                                                <input type="text" placeholder="Last Name" class="form-control" value="@Model.LastName" maxlength="60" id="LastName" name="LastName" />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Mobile Number</label>
                                                <input type="text" placeholder="Mobile No" class="form-control" value="@Model.MobileNo" maxlength="20" id="MobileNo" name="MobileNo" />
                                            </div>
                                            <div class="form-group collapse">
                                                <label class="control-label">Email</label>
                                                <input type="text" placeholder="Email" class="form-control" value="@Model.Email" maxlength="128" id="Email" name="Email" />
                                            </div>
                                            <div class="form-group collapse">
                                                <label class="control-label">User Type</label>
                                                <input type="text" placeholder="Email" class="form-control" value="@Model.UserType" maxlength="1" id="UserType" name="UserType" />
                                            </div>

                                            <div class="margiv-top-10">
                                                <button type="submit" class="btn green" id="btnUpdateProfile" name="btnUpdateProfile"> Save Changes </button>
                                            </div>
                                        </form>
                                    </div>
                                    
                                </div>
                               
                                <div id="tab_3-3" class="tab-pane">
                                    
                                    <div class="col-md-6">
                                        <form action="javascript:;" id="frmChangePassword" name="frmChangePassword">
                                            <div class="form-group">
                                                <label class="control-label">Current Password</label>
                                                <input type="password" class="form-control" id="CurrentPassword" name="CurrentPassword" maxlength="35" />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">New Password</label>
                                                <input type="password" class="form-control" id="Password" name="Password" maxlength="35" />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Re-type New Password</label>
                                                <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" maxlength="35" />
                                            </div>
                                            <div class="margin-top-10">
                                                <button type="submit" class="btn green" id="btnChangePassword" name="btnChangePassword"> Change Password </button>
                                            </div>
                                        </form>
                                    </div>
                                   
                                </div>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/vash" id="tmpTest">
    <table class="table table-striped table-bordered table-hover" id="tblTest">
        <thead>
            <tr>
                <td>Test</td>
                <td>Tags</td>
                <td>No Of Question</td>
                <td>Duration (In Minute)</td>
                <td>Score(%)</td>
                <td>Details</td>

            </tr>
        </thead>
        <tbody>
            @@model.data.forEach(function(v){
            <tr>

                <td>@@v.TestName</td>
                <td>@@html.ShowTag(v.Tags)</td>
                <td>@@v.NoOfQuestion</td>
                <td>@@v.Duration</td>
                <td>@@v.Score</td>
                <td>
                    <a href="/Home/TestResult?takenId=@@v.TakenId" target="_blank">View Details</a>
                </td>

            </tr>
            })
        </tbody>
    </table>
</script>





<script src="~/assets/admin/pages/otherscripts/UserProfile.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        UserProfile.init();
    });
</script>