@model PayrollWeb.ViewModels.DeductionName


@{
    ViewBag.Title = "Create Deduction Name";
    Layout = "~/Views/Shared/_LayoutDetailsPage.cshtml";
}

@section PageBanner
{
    Deduction Name
}


@using (Html.BeginForm("CreateDeductionName","Deduction",FormMethod.Post)) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        <div class="editor-label">
            @Html.LabelFor(model => model.deduction_head_id)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x=>x.deduction_head_id,new SelectList(@ViewBag.DeductionHeads,"id","name"),"Select Head")
             @Html.ValidationMessageFor(model => model.deduction_head_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.gl_code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.gl_code)
            @Html.ValidationMessageFor(model => model.gl_code)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.deduction_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.deduction_name)
            @Html.ValidationMessageFor(model => model.deduction_name)
        </div>

        <p>
            <input class="btn btn-success" type="submit" value="Create" />
        </p>
    
}

<div>
    @Html.ActionLink("Back to List", "DeductionNames")
</div>

