@using System.Diagnostics.Eventing.Reader
@using PayrollWeb.Models
@using PayrollWeb.ViewModels
@model PayrollWeb.ViewModels.BonusProcess

@{
    ViewBag.Title = "DisburseBonus";
    Layout = "~/Views/Shared/_LayoutDetailsPage.cshtml";
}

@section PageBanner
{
    Disburse Bonus
}

<br style="clear: both;"/>
    @{
        if (TempData.ContainsKey("msg"))
        {
            var res = (OperationResult)TempData["msg"];
            if (res.IsSuccessful)
            {
                <div id="notifyUser" class="alert alert-success">
			    <button data-dismiss="alert" class="close" type="button">×</button>
			    <div>@res.Message </div>
                </div>    
            }
            else
            {
                <div id="notifyUser" class="alert alert-error">
			    <button data-dismiss="alert" class="close" type="button">×</button>
			    <div>@res.Message </div>
                </div> 
            }
        }
    }

@using (Html.BeginForm("DisburseBonus", "Bonus", FormMethod.Post, new { @class = "form-inline" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.id)
    
        <table class="table">
         <tr>
             <td> @Html.LabelFor(model=>model.festival_date)</td>
            <td >
                @Html.EditorFor(model => model.festival_date)<br />
                @Html.ValidationMessageFor(model => model.festival_date)
            </td>
         </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.bonus_name_id)
            </td>
            <td>
               @Html.DropDownListFor(model => model.bonus_name_id, new SelectList(@ViewBag.BonusNames, "id", "name", @ViewBag.SelectedIndex), "---- Select ----") <br />
               @Html.ValidationMessageFor(model => model.bonus_name_id) 
            </td>
        </tr>
        <tr>
            <td> @Html.LabelFor(model=>model.batch_no)</td>
            <td >
                @Html.TextBoxFor(model => model.batch_no, new { @readonly = "readonly" })
            </td>
        </tr>
    </table>
   
     <p>
        <input class="btn btn-success" type="submit" value="Disburse" onclick = "BonusDisbursement(this); return false;" />
    </p>
   
}

<div id="dltBonus" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body">
    <p>Are you sure you want to disburse bonus?</p>
    </div>
    <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="btnDltBonus" class="btn btn-primary">Disburse</button>
    </div>
</div>

@section PageSpecificJs
{
    <script type="text/javascript" src="~/Scripts/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $('#festival_date').datepicker({ dateFormat: 'dd/MM/yyyy' });

        $('#bonus_name_id').change(function () {
            var ks = $('#bonus_name_id option:selected').val();
            var fd = $('#festival_date').val();
            var _param2 = ks.toString() + "T" + fd.toString();
            var test = '@Url.Action("DisburseBonus","Bonus",new{_param = "PLACEHOLDER"  })';
            var myUrl = test.replace('PLACEHOLDER', _param2.toString());
            document.location.href = myUrl;
        });

    </script>

    <script type="text/javascript">
        function BonusDisbursement(el) {
            $('#dltBonus').modal('show');

            $('#btnDltBonus').click(function () {
                $('#dltBonus').modal('hide');
                var test = $(el).attr('href');
                document.forms[0].submit();
            });
        }
    </script>

}


