 
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler">
                    <span></span>
                </div>
            </li>

            <li class="sidebar-search-wrapper">
                <form class="sidebar-search  " action="" method="POST">
                    <a href="javascript:;" class="remove">
                        <i class="icon-close"></i>
                    </a>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <a href="javascript:;" class="btn submit">
                                <i class="icon-magnifier"></i>
                            </a>
                        </span>
                    </div>
                </form>
            </li>

            <li class="nav-item" id="nav_0">
                <a href="@Url.Action("Dashboard","Admin")" class="nav-link nav-toggle" id="0000">
                    <i class="icon-home"></i>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            
            <li class="nav-item " id="nav_1">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-user"></i>
                    <span class="title">User Management</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item " id="1001">
                        <a href="@Url.Action("UserList", "Admin")" class="nav-link ">
                            <i class="fa fa-angle-right"></i>
                            <span class="title">User List</span>
                        </a>
                    </li>
                    <li class="nav-item " id="1002">
                        <a href="@Url.Action("UserRegister", "Admin")" class="nav-link ">
                            <i class="fa fa-angle-right"></i>
                            <span class="title">Create User</span>
                        </a>
                    </li>
                    <li class="nav-item " id="1002">
                        <a href="@Url.Action("Role", "Admin")" class="nav-link ">
                            <i class="fa fa-angle-right"></i>
                            <span class="title">Create Role</span>
                        </a>
                    </li>
                    <li class="nav-item " id="1002">
                        <a href="@Url.Action("Company", "Admin")" class="nav-link ">
                            <i class="fa fa-angle-right"></i>
                            <span class="title">Create Company</span>
                        </a>
                    </li>
                    <li class="nav-item " id="1002">
                        <a href="@Url.Action("CompanyBranch", "Admin")" class="nav-link ">
                            <i class="fa fa-angle-right"></i>
                            <span class="title">Create Company Branch</span>
                        </a>
                    </li>
                </ul>
            </li>


            <li class="nav-item  " id="nav_2">
                <a href="javascript:;" class="nav-link nav-toggle ">
                    <i class="icon-settings"></i>
                    <span class="title">Question Management</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  " id="2001">
                        <a href="@Url.Action("QuestionCategory","Admin")" class="nav-link">
                            <i class="fa fa-angle-right"></i>
                            <span class="title">Question Type</span>
                        </a>
                    </li>
                    <li class="nav-item" id="2002">
                        <a href="@Url.Action("Question","Admin")" class="nav-link ">
                            <i class="fa fa-angle-right"></i>
                            <span class="title">Question</span>
                        </a>
                    </li>
                </ul>
            </li>
            
            <li class="nav-item  " id="nav_3">
                <a href="javascript:;" class="nav-link nav-toggle ">
                    <i class="icon-social-dribbble"></i>
                    <span class="title">Test Management</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  " id="3001">
                        <a href="@Url.Action("TestCategory","Admin")" class="nav-link ">
                            <i class="fa fa-angle-right"></i>
                            <span class="title">Test Category</span>
                        </a>
                    </li>

                    <li class="nav-item" id="3002">
                        <a href="@Url.Action("Test","Admin")" class="nav-link ">
                            <i class="fa fa-angle-right"></i>
                            <span class="title">Test</span>
                        </a>
                    </li>

                    <li class="nav-item  " id="3003">
                        <a href="@Url.Action("TestList","Admin")" class="nav-link ">
                            <i class="fa fa-angle-right"></i>
                            <span class="title">Test List</span>
                        </a>
                    </li>

                    <li class="nav-item  " id="3004">
                        <a href="" class="nav-link ">
                            <i class="fa fa-angle-right"></i>
                            <span class="title">Test Author</span>
                        </a>
                    </li>

                </ul>
            </li>
            
            <li class="nav-item  " id="nav_4">
                <a href="javascript:;" class="nav-link nav-toggle ">
                    <i class="icon-diamond"></i>
                    <span class="title">Others</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item" id="4001">
                        <a href="" class="nav-link ">
                            <i class="fa fa-angle-right"></i>
                            <span class="title">Test Taken</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>


<script type="text/javascript" language="javascript">

    $(document).ready(function () {

        SelectSelectedScreen();

        $('.nav-item').click(function () {
            var screenCode = this.id;
            sessionStorage.itestapp_screen_code = screenCode;
        });

    });

    function SelectSelectedScreen() {
        if (sessionStorage.itestapp_screen_code) {
            $('#' + sessionStorage.itestapp_screen_code).addClass('active');
        } else {
            $('#nav_0').addClass('active');
        }
    }

</script>
